{% extends '../../base_admin.html' %}

{% block titulo %}Nuevo Proyecto{% endblock%}

{% block main %}
<h1 class="mt-4">Proyectos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'index_admin' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Nuevo Proyecto</li>
</ol>


<div class="card">
    <div class="card-header fw-bold fs-5">Creación de proyecto</div>
    <div class="card-body">
        <form action="{% url 'proyectos_nuevo' %}" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'administracion/CRUD/Proyectos/form.html' %}
        </form>
    </div>
</div>
{% endblock main %}