{% extends '../../base_admin.html' %}

{% block title %}Etiquetas{% endblock title %}

{% block main %}
<br><br><br><br>
<div class="card">
    <div class="card-header">
        <h3>Etiquetas</h3>
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-3">
            <a name="" id="" class="mb-6 btn btn-primary" href="{% url 'index_admin' %}" role="button">Atrás</a>
        </div>
        </div>
        {% comment %} El url acá era buscar_orientaciones {% endcomment %}
        <form action="{% url 'etiquetas_buscar' %}" method="GET">
            <div class="row">
                <div class="col-3 mt-6">
                    <div class="md-form mb-1">
                        <label for="nombre">Buscar</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre" class="form-control">
                    </div>
                </div>
                <div class="col-3 mt-6">
                    <button type="submit" class="btn btn-primary mt-4">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        {% comment %} url acá era orientacion_nuevo {% endcomment %}
        <a name="" id="" class="mb-2 btn btn-success" href="{% url 'etiquetas_nuevo' %}" role="button"> <i class="mr-2 fa-solid fa-circle-plus"></i>  Nuevo</a>
        <!-- bs5-table-defaul -->
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for etiqueta in etiquetas %}
                    <tr>
                        <td>{{etiqueta.id}}</td>
                        <td>{{etiqueta.name}}</td>
                        <td>
                            <a href="{% url 'etiquetas_editar' etiqueta.id %}" title="Editar" class="btn btn-warning"><i class="fas fa-pencil"></i></a>
                            <a href="{% url 'etiquetas_eliminar' etiqueta.id %}" title="Eliminar" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}