{% extends '../../base_admin.html' %}

{% block title %}Nueva etiqueta{% endblock%}

{% block main %}
<br><br><br>
<h1 class="mt-4 mx-4">Etiquetas</h1>
<ol class="breadcrumb mb-4 mx-4">
    <li class="breadcrumb-item"><a href="{% url 'index_admin' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Nueva etiqueta</li>
</ol>


<div class="card">
    <div class="card-header fw-bold fs-5">Creación de etiqueta</div>
    <div class="card-body">
        <form action="{% url 'etiquetas_nuevo' %}" method="post" novalidate>
            {% csrf_token %}
            {% include 'administracion/CRUD/Etiquetas/form.html' %}
        </form>
    </div>
</div>
{% endblock main %}