{% load bootstrap5 %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
</head>
<footer class="text-white text-center text-lg-start bg-dark">
  <div class="container py-5">
    <!--Grid row-->
    <div class="row mt-4 justify-content-center">
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 col-xs-12 mb-4 mb-md-0 align-self-center">
        <h5 style="margin-left: 1.45em;" class="text-uppercase text-center mb-4 pb-1">Contacto</h5>
        <!--
        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg">
          <label class="form-label" for="formControlLg" style="margin-left: 0px;">Search</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div></div> -->

        <ul id='contact' class="fa-ul" style="margin-left: 1.5em;">
          <li class="mb-3">
            <a style='text-decoration: none; color:#FFFFFF' href="https://github.com/Sfrancinelli"><span class="fa-li"><i class="fa-brands fa-github"></i></span><span class="ms-2">Perfil de GitHub</span></a>
          </li>
          <li class="mb-3">
            <a href="mailto:sebastianfrancinelli00@gmail.com"><span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">sebastianfrancinelli00@gmail.com</span></a>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fa-brands fa-whatsapp"></i></span><span class="ms-2">11-3704-2581</span>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 col-md-6 col-xs-12 mb-4 mb-md-0 align-self-center">
        <h5 class="text-uppercase mb-4 text-center">Sobre Mi</h5>

        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti.
        </p>

        <p>
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
          molestias.
        </p>

      </div>
    </div>

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright
    <a class="text-white" href="mailto:sebastianfrancinelli00@gmail.com">Sebastián Francinelli</a>
  </div>
  <!-- Copyright -->
</div>
</footer>