<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'administracion/assets/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'administracion/assets/css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'administracion/assets/css/sign.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'index' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'img/sf.svg' %}" width="150" alt="">
                </a>
                <p class="text-center">¡Bienvenido/a!</p>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} text-center fs-4 text-primary fw-bold" {% endif %} >
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="POST" action="{% url 'login' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    {{ form.user }}
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    {{ form.password }}
                    <span  id="showPasswordBtn" class="show-password-button" onclick="togglePasswordVisibility()">
                      <i class="fas fa-eye"></i>
                    </span>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Recordarme
                      </label>
                    </div>
                    <a class="text-primary fw-bold" href="./index.html">Olvidaste la contraseña ?</a>
                  </div>
                  <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" value="Ingresar" action="/login" method="POST" name="login">
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">No tenes una cuenta?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'register' %}">Registrarse</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'administracion/assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'administracion/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'administracion/assets/js/sign.js' %}"></script>
</body>

</html>